 .form1{
    background-image: url('https://ik.imagekit.io/vcmx1w6vg/Untitled%20video%20-%20Made%20with%20Clipchamp.mp4?updatedAt=1711721177437');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.preserve-linebreaks {
    white-space: pre-wrap;
}